.title{
    background-color: rgb(252, 248, 235);
    
}
hr{
    margin-top: 25px;
    margin-bottom: 25px;
}
.row{
    padding: 50px;
}
.btnAdd{
    width: 200px;
    margin-top: 20px;
}
label{
    text-shadow: 1px 1px 1px   lightgray;
    font-size: 13px ;
}
.col-md-5{
    border: 1px solid black;
    background-color: #692a51;
    border-radius: 10px 10px 10px 10px;

    box-shadow: 2px 4px 4px darkgray;
}
.text-primary{
    margin-top: 10px;
    float: left;
}
.col-md-5:first-child{
    margin-right: 10px;
}
.row{
    margin-top: 10px;

    margin-left:10px;
    padding: 20px;
    
}
row:first-child{
    margin-bottom: 0px;
}
label{
    color:white;
    font-size: 20px;
    margin: 14px;
}
td{
    color:White;
    font-size: 18px;
}
.trBody:hover{
    background-color:#57153e;;

}
.btn-danger{
    float: right;
    align-items: flex-end;
}
table{
    margin-bottom: 50px;
}
hr{
    color:yellow;
}
th:last-child{
    float: right;
}
th{
    font-size:16px;
}

h2{
    text-shadow:1px 2px 2px gray;
    font-size: 27px;
    margin-top: 10px;
}
img{
    box-shadow: 10px 10px 10px white;
}
.titleRow{
    border:1px solid #692a51;
    border-radius: 20px 20px 20px 20px;
    color:#692a51;
    margin-bottom: 20px;
    padding: 20px;
  margin-top: 10px;
  padding-top: 30px;
}
.groupIcon{
    float: right;
}