li{
    list-style: none;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #876445;
    
}

li:last-child{
    border-bottom: none;
    color:Gray;
}
li:last-child:hover{
    color:gray;
    opacity: 1;
}

li:nth-child(6){
    color:gray;
}
li:nth-child(6):hover{
    color:gray;
    opacity:1;
}
li:nth-child(7){
    color:gray;
}
li:nth-child(7):hover{
    color:gray;
    opacity:1;
}
li:nth-child(8){
    color:gray;
}
li:nth-child(8):hover{
    color:gray;
    opacity:1;
}
li:nth-child(9){
    color:gray;
}
li:nth-child(9):hover{
    color:gray;
    opacity:1;
}


li img{
    margin-right: 20px;
}
li:hover{
    color:#D1512D;
    opacity: 0.8;
}



